@import '../assets/fonts/videogular.css';
// page-tabs {
    .tabs-class{
        background: -webkit-linear-gradient(left, #333 , #000) !important;
    }
// }
    .tabbar{
        background: -webkit-linear-gradient(left, #333 , #000) !important;
    }
    .tab-button{
        color: #fff !important;
    }
    .tab-button-text{
        color: #fff !important;
        font-weight: 600;
    }