<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <ion-item *ngFor="let tItem of testArray" >
    <ion-item-divider class="padding" style="margin-top:10px !important;">
      <ion-avatar item-start>
        <img class="avatar" src="../../assets/imgs/dribbble_india_stories_detail.png">
      </ion-avatar>
      <h2 class="nickName">Alice Lin</h2>
      <div class="subscriptionDiv">
        <p class="subscription">喜欢我就点击订阅我</p><p><img src="../../assets/imgs/authentication.svg" alt=""></p>
      </div>
    </ion-item-divider>
    <ion-item-divider class="summary padding">
      <!-- <h2 class="title-h2" item-start>[我爱独角兽]</h2> -->
      <span>我想探索一个对话的好奇心、焦虑和能量。</span>
    </ion-item-divider>
    <div style="padding:0 16px 0 16px !important;">
      <div class="grayLine"></div>
    </div>
    <div style="width:100%;padding:0 16px 0 16px !important;">
      <vg-player>
      <vg-buffering></vg-buffering>
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
        <vg-play-pause></vg-play-pause>
        <vg-time-display [vgProperty]="'current'"></vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display [vgProperty]="'total'"></vg-time-display>
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
        <video #media [vgMedia]="media" poster="http://www.html5videoplayer.net/poster/madagascar3.jpg"
        src="http://www.html5videoplayer.net/videos/madagascar3.mp4"></video>
      </vg-player>
    </div>
    <ion-item-divider class="summarySmall padding">
      <!-- <h2 class="title-h2" item-start>[我爱独角兽]</h2> -->
      <span>我想探索一个对话的好奇心、焦虑和能量。</span>
    </ion-item-divider>
    <div style="padding:0 16px 0 16px !important;">
      <div class="grayLine"></div>
    </div>
    <div class="itemFooter padding">
        <img src="../../assets/imgs/transmit.svg" alt="">
        <img src="../../assets/imgs/redHeart.svg" alt="">
        <img src="../../assets/imgs/good.svg" alt="">
        <div class="footerNum">98745</div>
        <img src="../../assets/imgs/msg.svg" alt="">
        <div class="footerNum">2845</div>
        <img class="moreImg" src="../../assets/imgs/more.svg" alt="">
      </div>
    <div class="greenLine"></div>
  </ion-item>

  <!-- <ion-list class="ion-list" *ngFor="let Item of listData">
    <ion-item class="ion-item" (click)="openPage(Item.id)">
        <ion-thumbnail class="ion-thumbnail" item-start>
          <img class="ion-thumbnail-img" src="http://muji.bandao.cn/imgcache/aHR0cDovL21mcy5iYW5kYW8uY24vc3RvcmFnZS9tZnMvNWMxYjI4ZjYyNzQ4ZGIwMDZkMTcwYmRhLmpwZWc=_150x100.jpeg">
        </ion-thumbnail>
        <ion-item class="ion-item2">
          <h2 class="h2">{{Item?.title}}</h2>
          <h3>{{Item?.summary}}</h3>
        </ion-item>
      </ion-item>
  </ion-list> -->


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>